#isi .menuprofil a {
	color: black;
}

.menuprofil li:hover{
	font-weight: bold;
}


.menuprofil li{
	border: solid 1px #d5d7e0;
	margin-right: 5px;
}

#isi .active {
	background-color: #ffd014;
	font-weight: bold;
	border-radius: 18px;
}

#accordionExample .btn{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
	
}

#accordionExample{
	border: solid 1px #d5d7e0;
	border-radius: 8px;
	border-top: 0;
	border-right: 0;
	border-left: 0;	
	
}




[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {
	display: none;
}

#accordionExample .btn.collapsed:hover{
	font-weight: bold;
	font-size: 16px;
}

/*Hal Kamus*/

.list-kamus .active{
	background-color: #FFCC33;
	color: black;
	border-radius: 0%;
	outline-color: #FFCC33;
	outline: none !important;
	border-style: none !important;
}

#nav-tabContent .active{
	background-color: #fff;
	font-weight: normal;
	color: black;
}

#accordionKamus{
	margin-top: 2%;
}


.kamus p{
	padding: 10px 20px 0px 20px;
	font-size: 15px;
}

/*#accordionKamus{
	border: solid 1px #d5d7e0;
	border-radius: 8px;
	border-top: 0;
}*/

.card-header li{
	border-radius: 18px;
}

.kamus, .syarat{
	border: solid 1px #d5d7e0;
	border-right: solid 2px #d5d7e0;
	border-left: solid 2px #d5d7e0;
	border-radius: px;
}


.kamus li, .syarat li{
	color: black;
	font-weight: bold;
	font-size: 15px;
	padding-left: 35px;
	border-left: none;
	border-right: none;

}

.kamus li:hover{
	font-weight: bold;
	font-size: 16px;
}

.list-group-item:hover{
	font-weight: bold;
	font-size: 16px;
}

h6{
	font-size: 15px;
}
.PR_Alamat{
	margin-top: 20px;
}
/*Akhir*/

/*Syarat & Pengajuan*/
.titleprosedur{
	border: solid 1px #d5d7e0;
	border-radius: 8px 8px 0px 0px;
	/*border-bottom: none;
	border-right: none;
	border-left: none;*/
}

.titleprosedur h5{
	font-weight: bold;
	padding-left: 15px;
	padding-top: 15px;
}

#syarat_ubah p{
	font-size: 15px;
	text-align: justify;
	color: black;
	padding-left: 15px;
	padding-right: 15px;
}

.syarat ul li{
	font-weight: normal;
	font-size: 14px;
	padding-top: 6px;
}

/*Akhir*/



/*premi lanjut*/
.logo img{
	height: 80px;
	width: 120px;
}

#accordion2 .btn{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

#accordion3 .btn{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}
/*end*/

.table {
    color: black;
}
/*
#userDropdown:active, #userDropdown:focus { 
   border-style: none !important;
}

#userDropdown { outline:none; border-style: none; }*/

#userDropdown:hover { 
	background-color: inherit;
	outline-color: yellow; 
	color: grey;
}

#userDropdown:focus { 
   border-style: none !important;
   outline-color: yellow;
   background-color: inherit;
   color: grey;
}

#userDropdown:active{ 
   border-style: none !important;
   outline-color: yellow;
   background-color: inherit;
}

a:focus, a:active {
  outline: none !important;
  box-shadow: none !important;
}

#dropdownMenuButton{
	background-color: white;
	color: grey;
	border-color: #d3d5de;
}


select option:hover{
    content: attr(title);
    background: #666;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    border: none;
}

.buttonbayar{
	height: 35px;
	width: 90px;
	margin: 5px;
}

.form-control:focus {
        border-color: #FFCC33;
        box-shadow: 0 0 0 0.1rem #FFCC33;
    } 


#speedChart{
		width: 1000px;
		height: 500px;
	}

/*#dropdownMenuButton:hover { 
	background-color: inherit;
	outline-color: yellow; 
}

#dropdownMenuButton:focus { 
   outline-color: yellow;
   background-color: inherit;
   box-shadow: none !important;
}

#dropdownMenuButton:active{ 
   outline-color: yellow;
   background-color: inherit;
   box-shadow: none !important;
}*/




/*min width : akan diterapkan selama lebar browser >= (lebih besar sama dengan) 768 pixel. 
Jika lebar browser kurang dari 768px, maka rules tidak berlaku.*/

/*max width: akan diterapkan selama lebar browser <= (kurang dari sama dengan) 768 pixel. 
Jika lebar browser lebih dari 768px, maka rules tidak berlaku.*/
@media (max-width: 768px) {
	.line_vertikal1{
	    width: 100%;
	    height: 1px;
	    border-bottom: 1px dashed #ddd;
	    margin: 25px 0;
	}

	.menuprofil li{
		border: solid 1px #d5d7e0;
		margin-right: 10px;
		margin-top: 5px;
	}

	.syarat img{
		margin: 10px 0px 10px 30px;
		border-radius: 15%;
	}

	.syarat p{
		padding: 10px 20px 0px 30px;
		font-size: 14px;
		text-align: justify;
		color: black;
	}

	#speedChart{
		width: 1000px;
		height: 500px;
	}
	small{
		float: right;
	}

	
}

@media (max-width: 1000px){
	.menuprofil li{
		border: solid 1px #d5d7e0;
		margin-right: 10px;
		margin-top: 5px;
	}

}

@media (min-width: 768px){
	.line_vertikal1{
	    border-left: 1px dashed #ddd;
	    height: 100vh;
	    width: 0px;
	}

	.syarat img{
		float: left;
		margin: 10px 0px 10px 30px;
		border-radius: 15%;
	}

	.syarat p{
		padding: 10px 50px 20px 30px;
		font-size: 14px;
		text-align: justify;
		color: black;
	}

}



